body {
    margin: 0 auto;
    max-width: 100%;
}

.wagram {
    max-width: 500px;
    height: auto;
    background: linear-gradient(to bottom right, black, red);
    border-radius: 80px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    text-align: center;
    border: 1px solid grey;
}

@media (max-width: 100px) {

    .wagram {
        transform: scale(0.8);
    }

    .profile {
        transform: scale(0.8);
    }

    button {
        transform: scale(0.8);
    }

}

@media (max-width: 1600px) {

    .element {
        width: 80%;
        font-size: 1.2em;
    }

    .wagram {
        transform: scale(0.7);
        max-width: 800px;
    }

    .profile {
        transform: scale(1.0);
    }

    button {
        transform: scale(1.0);
    }

}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 2px solid grey;
}

button {
    width: 70%;
    height: 70px;
    border-radius: 10px;
    margin: 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid grey;
    font-size: 140%;
}

strong {
    font-size: 130%;
    display: block;
}

.white {
    width: 100%;
    height: 270px;
}

main {
    background: linear-gradient(to bottom right, black, white, red);
    height: 1500px;
}

.glow-on-hover {
    width: 80%;
    height: 70px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 100px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 100px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    background: #111;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}